# Data files
data/*

# Keep these folders
!data/raw/
!data/curated/

# Ignore everything inside them
data/raw/*
data/curated/*

# Except the .gitkeep files
!data/raw/.gitkeep
!data/curated/.gitkeep

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
